* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* background-color: #767676; */
  padding-top: 20px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

h2 span {
  font-size: 80%;
  font-style: italic;
  color: slateblue;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

._container {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
